.appointment-list{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.appointment-list-item {
    width: 100%;
    height: 80px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(74,37,255);
    background: radial-gradient(circle, rgba(74,37,255,1) 0%, rgba(203,193,255,1) 100%);
    color: white;
}
