.week-picker-display {
    width: 100%;
    color: #454545;
    position: relative;
    /*cursor: pointer;*/
    display: flex;
    align-items: center;
    transition: 0.5s ease;
    justify-content: center;
    font-size: 12px;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #c3c0cc40;
}

.week-picker-options {
    width: 100%;
    display: flex;
    background: white;
    flex-direction: column;
    align-items: center;
}

.title-week {
    padding: 0.8rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.numbers-container {
    border-top: 1px solid #c3c0cc40;
    width: 100%;
    padding: 0.3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.single-number {
    width: 100%;
    aspect-ratio: 1;
    font-size: 10px;
    background: none;
    color: black;
    display: grid;
    place-items: center;
    cursor: pointer;
}

.selected-week {
    color: #4a25ff;
    background-color: #CBC1FF;
}
.selected-week-start{
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}
.selected-week-finish{
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
}

.other-month {
    background: none;
    color: #c3c0cc;
}

.day {
    background: none;
    color: black;
}

.arrow-container {
    cursor: pointer;
    width: 25px;
    height: 25px;
    transition: 0.2s ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.arrow-container svg {
    /*stroke: #454545;*/
    stroke: #fff;
    fill: #fff;
}

.arrow-container:hover {
    /*background-color: #ff9900;*/
    /*border-radius: 15px;*/
}

.arrow-container:hover svg {
    stroke: #fff;
    fill: #fff;
}

.other-month {
    background: none;
    color: #c3c0cc;
}
