a{
    text-decoration: none;
}
.appInput{
    height: 36px;
    width: 100%;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    overflow: hidden;
}
.appInput>input{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    padding: 0 10px;
}
.app-button{
    color: #fff;
    border-radius: 6px;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
    opacity: 1;
    transition: 0.4s;
}
.app-button:hover{
    opacity: 0.7;
}
.login-form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex: 0.4;
    justify-content: center;
    align-items: center;
}
.login-wrap{
    display: flex;
    flex: 1;
    height: 100vh;
    background: #FAFAFB;
}
.login-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    flex: 0.6;
    background: #fff;
}
.login-form-container{
    width: 345px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.verify-form-container{
    width: 345px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
}
.logo{
    margin-bottom: 60px;
    /*width: 100%;*/
    /*position: absolute;*/
}
.logo >img{
    width: 120px;
}
.hr-title{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 12px;
}
.hr-title > div{
    height: 1px;
    background: #000;
    display: flex;
    flex: 1;
}
.forgot-password{
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
}
.container{
    /*background: #4F2CFF;*/
    width: 100%;
    /*padding: 10px;*/
    /*height: 80px;*/
    /*border-radius: 6px;*/
    margin-bottom: 15px;
    margin-top: 15px;
}
.character{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border: 1px solid #4F2CFF;
    /*background: #4F2CFF;*/
    color: #000;
}
.checkEmail{
    width: 300px;
    height: 200px;
    overflow: hidden;
}
.not-found-page{
    margin: 10% auto;
    width: 500px;
}
