.dashboard-content {
    display: flex;
    min-height: 100%;
    overflow: hidden;
}
.dashboard-navbar{
    display: flex;
    width: calc(100% - 100px);
    height: 80px;
    /* border-bottom: 1px solid rgba(145, 158, 171, 0.24); */
    box-sizing: border-box;
    justify-content: space-between;
    align-items: flex-end;
    padding: 15px;
    flex-direction: row;
    flex-shrink: 0;
    position: fixed;
    z-index: 1100;
    top: 0px;
    left: auto;
    right: 0px;
    background-color: white;
}

.dashboard-sidebar{
    color: rgb(33, 43, 54);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    box-shadow: none;
    background: #ffffff;
    /*background-image: none;*/
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    /*height: 100%;*/
    flex: 1 0 auto;
    z-index: 1200;
    position: fixed;
    top: 0px;
    outline: 0px;
    left: 0px;
    bottom: 0px;
    width: 100px;
    /*background-color: rgb(255, 255, 255);*/
    box-sizing: border-box;
    padding: 15px 10px;

}

.dashboard-layout{
    flex-grow: 1;
    overflow: auto;
    min-height: 100%;
    padding-top: 90px;
    padding-left:115px ;
}
.navbar-content{
    display: flex;
    flex-direction: column;
    flex: 1;
    box-sizing: border-box;
    border: 1px solid rgba(145, 158, 171, 0.24);
    border-radius: 30px;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    justify-content: space-between;
}
.navbar-logo{
    width: 48px;
    height: 48px
}
.navbar-logo >img{
    width:100%;
    height: 100%;
}
.icon-nav{
    width: 48px;
    height: 48px;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    transition: 0.4s;
    margin-bottom: 10px;
}
.icon-nav >img{
    width:22px;
    height:22px;
}
.active-nav{
    background: #CBC1FF;
}
.navbar-avatar-wrap{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;

}
.navbar-avatar{
    width: 48px;
    height: 48px;
    overflow: hidden;
    border-radius: 24px;
    border: 1px solid rgba(145, 158, 171, 0.24);
}
.navbar-avatar>img{
    width: 100%;
    height: 100%;
}
.navbar-notification-wrap{
    border-right: 1px solid rgba(145, 158, 171, 0.24);
    margin-right: 15px;
    padding-right: 24px;
    display: flex;
    height: 100%;
    align-items: center;
    gap: 15px;
}
.navbar-notification{
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CBC1FF;
    border-radius: 15px;
    position: relative;
}
.navbar-notification >img{
    width:20px;
    height: 20px;
}
.navbar-notification-count{
    position: absolute;
    width: 24px;
    height: 24px;
    background: #4A25FF;
    border-radius: 12px;
    color: #fff;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -8px;
    right: -8px;
    border: 3px solid #F3F2F7;
}

.navbar-search{
    width: 400px;
    height: 48px;
    border: 1px solid rgba(145, 158, 171, 0.24);
    border-radius: 8px;
    position: relative;
}
.navbar-search>input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding-left: 15px;
    padding-right: 48px;
    border-radius: 8px;
}
.icon-search{
    position: absolute;
    right: 10px;
    top:12px;
    width:22px;
    height:22px;
}
