/*input,*/
/*span,*/
/*label*/
/*{*/
/*    display: block;*/
/*    margin: 10px;*/
/*    padding: 5px;*/
/*    border: none;*/
/*    font-size: 22px;*/
/*}*/

/*input:focus {*/
/*    outline: 0;*/
/*}*/

/*input.question {*/
/*    !*border: 1px solid #ccc;*!*/
/*    font-size: 22px;*/
/*    font-weight: 300;*/
/*    border-radius: 2px;*/
/*    margin: 0;*/
/*    !*border: none;*!*/
/*    width: 100%;*/
/*    background: rgba(0, 0, 0, 0);*/
/*    transition: padding-top 0.2s ease, margin-top 0.2s ease;*/
/*    overflow-x: hidden; !* Hack to make "rows" attribute apply in Firefox. *!*/
/*}*/

/*input.question + label{*/
/*    display: block;*/
/*    position: relative;*/
/*    white-space: nowrap;*/
/*    padding: 0;*/
/*    margin: 0;*/
/*    width: 10%;*/
/*    border-top: 1px solid red;*/
/*    -webkit-transition: width 0.4s ease;*/
/*    transition: width 0.4s ease;*/
/*    height: 0px;*/
/*}*/

/*input.question:focus + label{*/
/*    width: 100%;*/
/*}*/

/*input.question:focus,*/
/*input.question:valid {*/
/*    padding-top: 35px;*/
/*}*/

/*input.question:focus + label > span,*/
/*input.question:valid + label > span {*/
/*    top: -50px;*/
/*    font-size: 14px;*/
/*    color: #333;*/
/*}*/

/*input.question:valid + label {*/
/*    border-color: green;*/
/*}*/

/*input.question:invalid{*/
/*    box-shadow: none;*/
/*}*/

/*input.question + label > span{*/
/*    font-weight: 300;*/
/*    margin: 0;*/
/*    position: absolute;*/
/*    color: #8F8F8F;*/
/*    font-size: 18px;*/
/*    top: -40px;*/
/*    left: 0px;*/
/*    !*z-index: -1;*!*/
/*    -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;*/
/*    transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;*/
/*}*/

/*input[type="submit"] {*/
/*    -webkit-transition: opacity 0.2s ease, background 0.2s ease;*/
/*    transition: opacity 0.2s ease, background 0.2s ease;*/
/*    display: block;*/
/*    opacity: 0;*/
/*    margin: 10px 0 0 0;*/
/*    padding: 10px;*/
/*    cursor: pointer;*/
/*}*/

/*input[type="submit"]:hover {*/
/*    background: #EEE;*/
/*}*/

/*input[type="submit"]:active {*/
/*    background: #999;*/
/*}*/

/*input.question:valid ~ input[type="submit"]{*/
/*    -webkit-animation: appear 1s forwards;*/
/*    animation: appear 1s forwards;*/
/*}*/

/*input.question:invalid ~ input[type="submit"] {*/
/*    display: none;*/
/*}*/

/*@-webkit-keyframes appear {*/
/*    100% {*/
/*        opacity: 1;*/
/*    }*/
/*}*/

/*@keyframes appear {*/
/*    100% {*/
/*        opacity: 1;*/
/*    }*/
/*}*/

.input-field{
    position: relative;
}
.input-field input{
    width: 350px;
    height: 60px;
    border-radius: 6px;
    font-size: 18px;
    padding: 0 15px;
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    outline: none;
}
.input-field label{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 19px;
    pointer-events: none;
    transition: 0.3s;
}
input:focus{
    border: 2px solid #18ffff;
}
input:focus ~ label,
input:valid ~ label{
    top: 0;
    left: 15px;
    font-size: 16px;
    padding: 0 2px;
    background: #060b23;
}

