:root {
    --main-color: #1a8fff;
    --text-color: #777;
    --text-color-light: #ccc;
    --border-color: #eee;
    --bg-color: #f9f9f9;
    --neutral-color: #fff;
}

.calendar {
    display: block;
    position: relative;
    width: 100%;
    border-radius: 8px;
    border: 1px solid var(--border-color);
}

.calendar .header_calendar {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 70%;
    padding: .5em 0;
    border-bottom: 1px solid var(--border-color);
}

.calendar .header_calendar .icon {
    cursor: pointer;
    transition: 0.15s ease-out;
}

.calendar .header_calendar .icon:hover {
    /*transform: scale(1.75);*/
    /*transition: 0.25s ease-out;*/
    /*color: var(--main-color);*/
}

.calendar .header_calendar .icon:first-of-type {
    margin-left: 1em;
}

.calendar .header_calendar .icon:last-of-type {
    margin-right: 1em;
}

.calendar .days {
    text-transform: uppercase;
    font-weight: 400;
    /*color: var(--text-color-light);*/
    font-size: 10px;
    padding: 0.75em 0;
    border-bottom: 1px solid var(--border-color);
}

.calendar .calendar_body .cell {
    position: relative;
    height: 4em;
    border-right: 1px solid var(--border-color);
    overflow: hidden;
    cursor: pointer;
    /*background: var(--neutral-color);*/
    transition: 0.25s ease-out;
    font-size: 1.5em;
}

.calendar .calendar_body .cell:hover {
    /*background: var(--bg-color);*/
    /*transition: 0.5s ease-out;*/
}

.calendar .calendar_body .selected {
    /*border-left: 10px solid transparent;*/
    /*border-image: linear-gradient(45deg, #1a8fff 0%, #53cbf1 40%);*/
    /*border-image-slice: 1;*/
    background: rgb(74,37,255);
    border-radius: 4px;
    background: radial-gradient(circle, rgba(74,37,255,1) 0%, rgba(203,193,255,1) 100%);
    color: white;
}
.calendar .calendar_body .today {
    /*border-left: 10px solid transparent;*/
    /*border-image: linear-gradient(45deg, #ff1a79 0%, #eb82b3 40%);*/
    /*border-image-slice: 1;*/
    background: rgb(255,26,121);
    background: radial-gradient(circle, rgba(255,26,121,1) 0%, rgba(235,130,179,1) 100%);
    border-radius: 4px;
    color: white;
}
.calendar .calendar_body .calndar_row {
    /*border-bottom: 1px solid var(--border-color);*/
}

/* .calendar .body .row:last-child {
  border-bottom: none;
} */

.calendar .calendar_body .cell:last-child {
    border-right: none;
}

.calendar .calendar_body .cell .number {
    width: 100%;
    height: 100%;
    font-size: 114.5%;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

.calendar .calendar_body .disabled {
    color: var(--text-color-light);
    pointer-events: none;
}

.calendar .calendar_body .cell .bg {
    font-weight: 700;
    line-height: 1;
    color: var(--main-color);
    opacity: 0;
    font-size: 8em;
    position: absolute;
    top: -0.2em;
    right: -0.05em;
    transition: 0.25s ease-out;
    letter-spacing: -0.07em;
}

/*.calendar .calendar_body .cell:hover .bg,*/
/*.calendar .calendar_body .selected .bg {*/
/*    opacity: 0.05;*/
/*    transition: 0.5s ease-in;*/
/*}*/
.calendar .calendar_body .cell.today .bg {
    color: #ff1a79;
    opacity: 0.05;
}

/*.calendar .calendar_body .col {*/
/*  flex-grow: 0;*/
/*  flex-basis: calc(100% / 7);*/
/*  width: calc(100% / 7);*/
/*}*/

.calndar_row {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.row-middle {
    align-items: center;
}

.col {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
}

.col-start {
    justify-content: flex-start;
    text-align: left;
}

.col-center {
    justify-content: center;
    text-align: center;
}

.col-end {
    justify-content: flex-end;
    text-align: right;
}
